body {

    background-color: #073d55;
}

FavSection {
    position: relative;
    display: 'none';
}

.Fav-page {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.upper-content {
    position: relative;
    background-image: url('images/Bollywood\ songs.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    /* border: 2px solid white; */
}

.black-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.upper-content img {
    width: 200px;
}

.lower-content {
    width: 100%;
    color: white;
    margin-bottom: 60.2px;
    /* border: 2px solid black; */
}

.lower-content .Fav-heading {
    padding: 10px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid white; */
}

.lower-content img {
    width: 50px;
}

.Fav-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 10px;
    height: auto;
    background: rgba(0, 0, 0, 0.514);
}

.Fav-songContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-family: sans-serif;
}

.Fav-songName p {
    font-size: 10px;
}